extends ../layout

block content
  h5= title
  table.table.striped
    thead
      tr
        th name
        th type
        th drugbank_id
        th atc_code
        th wikipedia
    tbody
      each f in farmacos
        tr
          td
            a(href=`/farmacos/${f.id}`)= f.name
          td= f.type
          td= f.drugbank_id
          td= f.atc_code
          td
            a(href=`https://wikipedia.org/wiki/${f.name}`)= f.name
  if totalPages > 0        
    nav(aria-label="Page navigation example")
      ul.pagination.text-center
        if (currentPage == 1)
          li.page-item.disabled
            a.page-link(href=`/farmacos?page=1`) Previous
        else
          li.page-item
            a.page-link(href=`/farmacos?page=${currentPage-1}`) Previous
        if (currentPage == totalPages )
          li.page-item.disabled
            a.page-link(href="#") Next
        else
          li.page-item
            a.page-link(href=`/farmacos?page=${Number(currentPage) + 1}`) Next
    
    p= paginate

    script. 
      if paginate.hasPreviousPages || paginate.hasNextPages(pageCount)
      .navigation.well-sm#pagination
        ul.pager
          if paginate.hasPreviousPages
            li.previous
              a(href=paginate.href(true)).prev
                i.fa.fa-arrow-circle-left
                |  Previous
          if pages
            each page in pages
              a.btn.btn-default(href=page.url)= page.number
          if paginate.hasNextPages(pageCount)
            li.next
              a(href=paginate.href()).next
                | Next&nbsp;
                i.fa.fa-arrow-circle-right