extends ../layout

block content
  h5= title
  table.table.striped
    thead
      tr
        th name
        th type
        th drugbank_id
        th atc_code
        th wikipedia
    tbody
      each f in farmacos
        tr
          td
            a(href=`/farmacos/${f.id}`)= f.name
          td= f.type
          td= f.drugbank_id
          td= f.atc_code
          td
            a(href=`https://wikipedia.org/wiki/${f.name}`)= f.name
 
  nav(aria-label="Page navigation example")
    ul#paginationList.pagination.justify-content-center

  script.
    var paginationUl = document.getElementById("paginationList"); 
    if (#{currentPage} > 7) {
      createli(#{currentPage}-7,"Previous")
    }
    let first = (#{currentPage} <7 )? 0 : #{currentPage}-6
    let last = #{currentPage}+5
    for (i = first; i < last; i++) {
      createli(i, i+1)
    }
    createli(#{currentPage}+5,"Next")

    function createli(i, label) {
      
      var li = document.createElement('li');
      li.classname = "page-item"
      if (i == #{currentPage}-1) {
        li.className= "page-item active"
      } else {
        li.className= "page-item"
      }
      var ref = document.createElement('a')
      ref.className = "page-link"
      ref.href="/farmacos?page="+String(i+1)
      var textnode = document.createTextNode(label); 
      ref.appendChild(textnode);

      li.appendChild(ref);
      paginationUl.appendChild(li);
    }
    