extends ../layout

block content
  h5= title
  table.table.striped
    thead
      tr
        th name
        th type
        th drugbank_id
        th atc_code
        th wikipedia
    tbody
      each f in farmacos
        tr
          td
            a(href=`/farmacos/${f.id}`)= f.name
          td= f.type
          td= f.drugbank_id
          td= f.atc_code
          td
            a(href=`https://wikipedia.org/wiki/${f.name}`)= f.name
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item"><a class="page-link" href="/farmacos?page=1">Previous</a></li>
      <li class="page-item"><a class="page-link" href="farmacos?page=1">1</a></li>
      <li class="page-item"><a class="page-link" href="farmacos?page=2">2</a></li>
      <li class="page-item"><a class="page-link" href="farmacos?page=3">3</a></li>
      <li class="page-item"><a class="page-link" href="farmacos?page=1">Next</a></li>
    </ul>
  </nav>
