extends ../layout

block content
  h5= title
  table.striped
    thead
      tr
        th name
        th type
        th drugbank_id
        th atc_code
        th wikipedia
    tbody
      each f in farmacos
        tr
          td
            a(href=`/farmacos/${f.id}`)= f.name
          td= f.type
          td= f.drugbank_id
          td= f.atc_code
          td
            a(href=`https://wikipedia.org/wiki/${f.name}`)= f.name
  <ul id="pagination">
  </ul>
  script.
    $('#pagination').materializePagination({
        align: 'center',
        lastPage: #{totalPages},
        firstPage:  1,
        urlParameter: 'page',
        useUrlParameter: true,
        onClickCallback: function(requestedPage){
            window.location.href="/farmacos?page="+requestedPage
        }
    });
